.Confirm {
    text-align: center;
}

.Confirm .Text {
    font-weight: 500;
    font-size: 1.2em;
}

.Confirm .Buttons {
    display: flex;
    justify-content: space-around;
}

.Confirm .Buttons button {
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    height: 35px;
    width: 65px;
    margin: 10px auto;
    font-size: 1.2em;
    font-weight: 600;
}