.Training {
    width: auto;
    min-height: 300px;
    box-sizing: border-box;
    margin: 2px;
    /* border: 1px solid black; */
}

.Training input {
    margin: 2px;
}

.TrainingInfo {
    margin: 0 auto;
    box-sizing: border-box;
    width: 96%;
    /* height: 60px; */
    border-bottom: 1px solid black;
}

.TrainingTime {
    height: 100%;
    display: inline-block;
    width: 70%;
}

.TrainingComplete {
    height: 100%;
    display: inline-block;
    width: 30%;
}

.ExerciseListInfo {
    color: grey;
    font-style: italic;
    text-align: center;
}