.Training {
    width: auto;
    min-height: 300px;
    box-sizing: border-box;
    margin: 2px;
}

.Training input {
    margin: 2px;
}

.TrainingInfo {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid black;
}

.TrainingTime {
    margin-top: 10px;
    box-sizing: border-box;
    float: left;
    width: 70%;
}

.TrainingComplete {
    box-sizing: border-box;
    float: right;
    width: 30%;
}

.ExerciseListInfo {
    color: grey;
    font-style: italic;
    text-align: center;
}

.CompletedExercise {
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}