.RoundButton {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 25px;
    padding: 2px;
    height: 25px;
    font-size: 25px;
    background-color: black;
    color: white;
    /* font-family:courier; */
    font-weight:bold;
    /* justify-content:center; */
}

/* .BeforePlus::before {
    content: "+";
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
}

.BeforeMinus::before {
    content: "-";
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
}

.BeforeTick::before {
    content: "✔";
    height:100%;
    width:100%;
    font-size: 0.8em;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
}

.BeforeOK::before {
    content: "OK";
    height:100%;
    width:100%;
    font-size: 0.6em;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    color:white;
}

.BeforeQuestion::before {
    content: "?";
    height:100%;
    width:100%;
    font-size: 0.6em;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    color:white;
}

.BeforeMenuV::before {
    content: "⋮";
    height:100%;
    width:100%;
    font-size: 0.6em;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
}

.BeforeMenuH::before {
    content: "…";
    height:100%;
    width:100%;
    font-size: 0.8em;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
}

.BeforeMenu::before {
    content: "≡";
    height:100%;
    width:100%;
    font-size: 0.8em;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
} */