.Exercise {
    width: 100%;
    /* margin: 5px; */
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.Info {
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
    width: calc(100% - 1.5em);
    display: inline-block;
}

.InfoName {
    box-sizing: border-box;
    width: 40%;
    display: inline-block;
    font-weight: 600; 
}

.InfoTime {
    box-sizing: border-box;
    width: 60%;
    display: inline-block;
    text-align: right;
}

.ExpandSign {
    box-sizing: border-box;
    padding: 5px 10px 5px 0px;
    height: 100%;
    width: 1.5em;
    display: inline-block;
}

.Header {
    border-bottom: 1px solid #eee;
}

.Sets {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Sets ol {
    padding-inline-start: 20px;
}

.Unit {
    font-size: 0.8em;
    font-style: italic;
}

.Sets li {
    padding: 5px 0px;
}