.ExerciseDetails {
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}

.CreatedWrapper {
    width: 100%;
}

.Created {
    width: 50%;
    float: left;
}