.Exercise {
    display: block;
    box-sizing: border-box;
    border-top: 1px solid #232;
    padding-top: 10px;
    /* border: 1px solid #232; */
    /* box-shadow: 2px 4px 4px #adadad; */
}

.ExerciseInfo {
    color: grey;
    font-style: italic;
    text-align: center;
}

.SetErrors {

    width: 90%;
    margin: 10px auto;
    padding: 5px;
    box-sizing: border-box;
    color: rgb(201, 22, 22);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}

.SetErrors p:first-letter  {
    text-transform: capitalize;
}