.Registration {
    box-sizing: border-box;
    padding: 10px;
}

.Registration label {
    margin: 15px 0px 3px 0px;
    font-size: 1.2em;
    display: block;
}

.Error {
    color: rgb(201, 22, 22);
    font-size: 0.8em;
    margin: 5px;
    font-style: italic;
}

.Error p:first-letter  {
    text-transform: capitalize;
}