.Registration {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.Registration label {
    margin: 15px 0px 3px 0px;
    font-size: 1.2em;
    display: block;
}

.SpinnerWrapper {
    box-sizing: border-box;
    margin: 0px auto;
    top: 25%;
    left: 15%;
    position: absolute;
    width: 70%;
    height: 40%;
}

.Error {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: rgb(201, 22, 22);
    padding: 10px;
    font-size: 0.9em;
    /* margin: 5px; */
    font-style: italic;
}

.Error li:first-letter  {
    text-transform: capitalize;
}